body {
	--color-accent: #90ee90;;
	--color-accent-hover: #81d681;
	--color-accent-active: #73be73;
	--color-dimdark: #111;;
	--color-dark: #222;;
	--color-lightdark: #333;
	--color-dimgray: #444;
	--color-gray: #555;
	--color-lightgray: #666;
	--color-dimwhite: #999;
	--color-lightwhite: #ccc;
	--color-white: #fff;


	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: var(--color-lightgray);
	overflow-y: none;
	overflow-x: none;
}
a {
	text-decoration: none;
	display: inline-block;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

/*
 *	NAVBAR
 */

#navBar {
	height: 50px;
	background-color: var(--color-dimdark);
	width: 100%;
}
#navBar #header {
	padding: 10px;
	height: 50px;
	margin-bottom: 10px;
	float: left;
}

#navBar #header #title {
	font-size: 24px;
	color: white;
	text-decoration: none;
}
#navBar nav {
	float: right;
	margin-right: 10px;
}
#navBar nav .navOption {
	text-decoration: none;
	float: left;
	color: white;
	background-color: var(--color-lightgray);
	line-height: 30px;
	margin: 10px 0px 10px 0px;
	width: 80px;
	text-align: center;
    -webkit-transition: background-color 0.2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.2s;
}
#navBar nav .navOption:hover {
	background-color: var(--color-gray);

}
#navBar nav .navOption:active {
	background-color: var(--color-dimgray);

}
#navBar nav .selected {
	background-color: var(--color-accent);
	color: black;
}
#navBar nav .selected:hover {
	background-color: var(--color-accent-hover);
}
#navBar nav .selected:active {
	background-color: var(--color-accent-active);
}

/*
 *	CONTENT
 */

#content {
	float: right;
	height: 100%;
}

/*
 *	Sidebar
 */
#sidebar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 300px;
	position: fixed;
	height: 100%;
	overflow: auto;
	background-color: var(--color-dimgray);
	color: white;
	float: left;
}
/*
 *	Sidebar Rooms and Friends
 */
#sidebar {
	padding: 10px 0px 10px 0px;
}
#sidebar #rooms, #sidebar #friends {
	padding: 0px 10px 0px 10px;
}
#sidebar #rooms .room, #sidebar #friends .friend {
	margin: 5px 0px 5px 0px;
	height: 40px;
	width: 100%;
	clear: both;
}
#sidebar #rooms .room .apic, #sidebar #friends .friend .apic {
	width: 40px;
	height: 40px;
	background-color: lightgreen;
	border-radius: 20px;
	float: left;
	border: 2px solid var(--color-white);
    -webkit-transition: border 0.2s; /* For Safari 3.1 to 6.0 */
    transition: border 0.2s;
}
#sidebar #rooms .room .apic:hover, #sidebar #friends .friend .apic:hover {
	border: 2px solid var(--color-lightwhite);
}
#sidebar #rooms .room .apic:active, #sidebar #friends .friend .apic:active {
	border: 2px solid var(--color-dimwhite);
}
#sidebar #rooms .room .apic .pic, #sidebar #friends .friend .apic .pic {
	width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: cover;
	border-radius: 20px;
}
#sidebar #rooms .room .title, #sidebar #friends .friend .title {
	max-width: 230px;
	line-height: 40px;
	float: left;
	margin-left: 10px;
    -webkit-transition: color 0.2s; /* For Safari 3.1 to 6.0 */
    transition: color 0.2s;
	color: var(--color-white);
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
#sidebar #friends .friend .invite {
	float: right;
}
#sidebar #friends .friend .invite .button {
	width: 30px;
	height: 30px;
	background-color: blue;
	float: left;
	margin: 5px 0px 5px 5px;
	border-radius: 15px;
	border: 2px solid var(--color-white);
	padding-left: 8px;
	line-height: 28px;
	font-weight: bold;
	text-shadow: 1px 1px #000;
}
#sidebar #friends .friend .invite .button {
}
#sidebar #friends .friend .invite .accept {
	background-color: lightgreen;
	cursor: pointer;
}
#sidebar #friends .friend .invite .decline {
	background-color: Tomato;
	cursor: pointer;
}
#sidebar #friends .friend .invite .accept:hover, #sidebar #friends .friend .invite .decline:hover {
	border: 2px solid var(--color-lightwhite);
}
#sidebar #friends .friend .invite .accept:active, #sidebar #friends .friend .invite .decline:active {
	border: 2px solid var(--color-dimwhite);
}
#sidebar #friends .friend .invite .pending {
	background-color: var(--color-gray);
}
#sidebar #rooms .room .title:hover, #sidebar #friends .friend .title:hover {
	color: var(--color-lightwhite);
}
#sidebar #rooms .room .title:active, #sidebar #friends .friend .title:active {
	color: var(--color-dimwhite);

}
#sidebar #rooms hr {
	margin-top: 0px;
}
/*
 *	Sidebar Bottom
 */
#sidebar #bottom {
	list-style-type: none;
    padding: 0;
    width: 300px;
    position: fixed;
    bottom: 0;
    overflow: auto;
	widows: 300px;
	color: white;
}

#sidebar #bottom .new_server_and_friend {
	float: left;
	background-color: var(--color-dimdark);
	padding: 0;
	margin: 0;
	line-height: 50px;
	font-size: 18px;
	width: 150px;
	color: white;
	text-align: center;
    -webkit-transition: background-color 0.2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.2s;
}
#sidebar #bottom .new_server_and_friend:hover {
	background-color: var(--color-dark);
}
#sidebar #bottom .new_server_and_friend:active {
	background-color: var(--color-lightdark);
}

/*
 *	NOSELECTION
 */
#noselection {
	font-size: 24px;
	color: white;
	text-align: center;
	margin-top: 20%;
}