body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: url('/resources/images/login-bg1-blur.png') no-repeat center center fixed;
    background-size: cover;
}

#register {
    border-radius: 15px;
    width: 400px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 3px rgba(180, 180, 180, 1);
}
#register h1 {
    text-align: center;

}

#register input {
    margin: 0px 25px 0px 25px;
    width: 350px;
    height: 40px;
    padding: 0px 5px 0px 5px;
}
#register input[type="submit"] {
    background-color: #555555; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    padding: 20px;
    cursor: pointer;
    height: 80px;
}
#register #register_and_about {
    margin: 10px;
    text-align: center;
}

/*#696969*/