<div id="chat">
	
	<!-- Messages -->
	<div id="messages">
	</div>

	<!-- chat input content -->
	<div id="input">
		<input id="message" placeholder="Type a message here..." maxlength="245">
		<img id="send" onclick="postMessageInChat()" src="/resources/images/send_message.png">
	</div>
</div>

<script>
onWindowResize()
printChat()
</script>