<title>Strife</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/resources/css/modal.css">
<link rel="stylesheet" type="text/css" href="/resources/css/chat.css">
<link rel="stylesheet" type="text/css" href="/resources/css/scrum.css">
<link rel="stylesheet" type="text/css" href="/resources/css/files.css">
<link rel="stylesheet" type="text/css" href="/resources/css/settings.css">
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/modal.js"></script>
<script src="/resources/js/nav.js"></script>
<script src="/resources/js/chat.js"></script>
<script src="/resources/js/scrum.js"></script>
<script src="/resources/js/files.js"></script>
<script src="/resources/js/settings.js"></script>