<!-- MODAL TEMPLATE, COPY ONLY

<div id="modal_XXX" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">×</span>
    <h3>XXX TITLE XXX</h3>
   
    CONTENT HERE

  </div>
</div>

-->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


<!-- New friend modal -->

<div id="modal_newfriend" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">×</span>
    <h2>Send friend request</h2>
    <div id="sendFriendRequestError" class="statusMessage"></div>
    <div id="sendFriendRequestSuccess" class="statusMessage"></div>
  	<input id="sendFriendRequest" type="text" name="email" placeholder="Friends email" required autofocus>
    <button type="button" onclick="sendFriendRequest()">Send request</button>
  </div>
</div>



<!-- New server	 -->

<div id="modal_handlerooms" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">×</span>
    <h2>Handle rooms</h2>
    <div>
    	<div class="left pane">
    		<h4>Create room</h4>
        <div id="createRoomError" class="statusMessage"></div>
        <div id="createRoomSuccess" class="statusMessage"></div>
	  		<input type="text" name="roomname" placeholder="Name of room" required autofocus>
        <button type="button" onclick="createRoom()">Create room</button>
    		</form>
    	</div>
    	<div class="right pane">
    		<h4>Join room</h4>
        <div id="joinRoomError" class="statusMessage"></div>
        <div id="joinRoomSuccess" class="statusMessage"></div>
		  	<input type="text" name="roomname" placeholder="ID of room" required autofocus>
        <button type="button" onclick="joinRoom()">Join room</button>
    	</div>
    	<div class="clearfix"></div>
    </div>
    
    
  </div>
</div>

