<!-- MODAL TEMPLATE, COPY ONLY

<div id="modal_XXX" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">×</span>
    <h3>XXX TITLE XXX</h3>
   
    CONTENT HERE

  </div>
</div>

-->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


<!-- New friend modal -->

<div id="modal_newfriend" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">×</span>
    <h2>Send friend request</h2>
    <form action="" method="post">
  		<input type="text" name="email" placeholder="Friends email" required autofocus>
    	<input type="submit" value="Send request">
    </form>
  </div>
</div>



<!-- New server	 -->

<div id="modal_handleservers" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">×</span>
    <h2>Handle server</h2>
    <div>
    	<div class="left pane">
    		<h4>Create server</h4>
    		<form action="" method="post">
	  			<input type="text" name="servername" placeholder="Name of server" required autofocus>
	    		<input type="submit" value="Create server">
    		</form>
    	</div>
    	<div class="right pane">
    		<h4>Join server</h4>
    		<form action="" method="post">
		  		<input type="text" name="servername" placeholder="Name of server" required autofocus>
		    	<input type="submit" value="Join server">
		    </form>
    	</div>
    	<div class="clearfix"></div>
    </div>
    
    
  </div>
</div>

