<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<head>
<title>About</title>
    
</head>
<body>


  <h3>About Strife</h3>
  <p>Strife Chat is a webbased chat application for software development. The application allows people to communicate and work together over distance using a SCRUM agile software development framework.</p>

  <p>Strife allows a user to have private chat conversations with friends as well as group conversations with multiple users at the same time. Users can upload and share files in private and group conversations. More importantly, a user can create a story board and assign different tasks to team members. Users will be able to pin important messages.</p>

  
    
  


</div>

</body>
</html>
