<!DOCTYPE html>
<html>
<head>
	<% include resources/utilhtml/head %>
	<link rel="stylesheet" type="text/css" href="/resources/css/index.css">
	<script src="/resources/js/index.js"></script>
</head>
<body>

<% include resources/utilhtml/modal %>

<!-- Top nav bar -->
<div id="navBar">
	<!-- Title header -->
	<div id="header">
		<a href="#" id="title">Strife</a>
	</div>

	<nav>
		<a href="#" class="navOption selected">Chat</a>
		<a href="#" class="navOption">Scrum</a>
		<a href="#" class="navOption">Files</a>
		<a href="#" class="navOption">Settings</a>
		<a href="/logout" class="navOption">Logout</a>
	</nav>
</div>

<!-- Sidebar -->
<div id="sidebar">
	<!-- Rooms & Friends -->
	<div id="rooms"></div>
	<hr>
	<div id="friends"></div>

	<!-- lower sidebar -->
	<div id="bottom">
		<div id="new_room" class="new_server_and_friend" onclick="click_handlerooms()">Handle room</div>
		<div id="new_friend" class="new_server_and_friend" onclick="click_newfriend();">New friend</div>
	</div>
</div>

<!-- Main content -->
<div id="chat">
	
	<!-- Messages -->
	<div id="messages">	
		<div class="messageContainer">
			<div class="name">Henrik Nilsson Harnert</div>
			<div class="pic"></div>
			<div class="message">
				<div class="text">Herp derp</div>
				<div class="timestamp">16:57</div>
			</div>
		</div>
		
		<div class="messageContainer">
			<div class="name">Anton Jerhamre</div>
			<div class="pic"></div>
			<div class="message">
				<div class="text">Fusce facilisis tincidunt bibendum. Ut et tortor sit amet urna varius ultricies. Cras consequat accumsan erat eget dignissim. Sed condimentum blandit interdum. Aliquam pellentesque mi id arcu viverra finibus. Mauris vel augue a mi hendrerit porttitor. Praesent ex elit, fermentum eget facilisis efficitur, consectetur fringilla augue. Aliquam porttitor nulla felis, sed rutrum odio venenatis at. Curabitur vitae consequat ipsum, sed imperdiet nulla.</div>
				<div class="timestamp">16:57</div>
			</div>
		</div>
			
		<div class="messageContainer">
			<div class="name">Lord Gaben</div>
			<div class="pic"></div>
			<div class="message">
				<div class="text">LOL git gud noobs</div>
				<div class="timestamp">16:57</div>
			</div>
		</div>
	</div>

	<!-- chat input content -->
	<div id="input">
		<input id="message" placeholder="Type a message here...">
<<<<<<< HEAD
		<img id="send" onclick="postMessageInChat()" src="resources/images/send_message.png">
=======
		<img id="send" src="/resources/images/send_message.png">
>>>>>>> 8a4f2c89204645c8339e7cf69e7ce57947ec07ed
	</div>
</div>

<script>
onWindowResize();
</script>
</body>
</html>