<!DOCTYPE html>
<html>
<head>
	<% include head %>
	<link rel="stylesheet" type="text/css" href="resources/css/index.css">
	<script src="resources/js/index.js"></script>
</head>
<body>

<!-- Top nav bar -->
<div id="navBar">
	<!-- Title header -->
	<div id="header">
		<a href="#" id="title">Strife</a>
	</div>

	<nav>
		<a href="#" class="navOption selected">Chat</a>
		<a href="#" class="navOption">Scrum</a>
		<a href="#" class="navOption">Files</a>
		<a href="#" class="navOption">Settings</a>
		<a href="/logout" class="navOption">Logout</a>
	</nav>
</div>

<!-- Sidebar -->
<div id="sidebar">
	<!-- Rooms & Friends -->
	<div id="rooms">
		<a href="#" class="room">
			<div class="pic"></div>
			<div class="title">M7011E</div>
		</a>
		<a href="#" class="room">
			<div class="pic"></div>
			<div class="title">D7013E</div>
		</a>
		<a href="#" class="room">
			<div class="pic"></div>
			<div class="title">Road to GE</div>
		</a>
		<a href="#" class="room">
			<div class="pic"></div>
			<div class="title">This is a example with a very long Room name!</div>
		</a>
	</div>
	<hr>
	<div id="friends">
		<a href="#" class="friend">
			<div class="pic"></div>
			<div class="title">Henrik Nilsson Harnert</div>
		</a>
		<a href="#" class="friend">
			<div class="pic"></div>
			<div class="title">Anton Jerhamre</div>
		</a>
		<a href="#" class="friend">
			<div class="pic"></div>
			<div class="title">Lord Gaben</div>
		</a>
	</div>

	<!-- lower sidebar -->
	<div id="bottom">
		<a href="#" id="new_server" class="new_server_and_friend">New Server</a>
		<a href="#" id="new_friend" class="new_server_and_friend">New Friend</a>
	</div>
</div>

<!-- Main content -->
<div id="chat">
	
	<!-- Messages -->
	<div id="messages">	
		<div class="messageContainer">
			<div class="name">Henrik Nilsson Harnert</div>
			<div class="pic"></div>
			<div class="message">
				<div class="text">Herp derp</div>
				<div class="timestamp">16:57</div>
			</div>
		</div>
		
		<div class="messageContainer">
			<div class="name">Anton Jerhamre</div>
			<div class="pic"></div>
			<div class="message">
				<div class="text">Fusce facilisis tincidunt bibendum. Ut et tortor sit amet urna varius ultricies. Cras consequat accumsan erat eget dignissim. Sed condimentum blandit interdum. Aliquam pellentesque mi id arcu viverra finibus. Mauris vel augue a mi hendrerit porttitor. Praesent ex elit, fermentum eget facilisis efficitur, consectetur fringilla augue. Aliquam porttitor nulla felis, sed rutrum odio venenatis at. Curabitur vitae consequat ipsum, sed imperdiet nulla.</div>
				<div class="timestamp">16:57</div>
			</div>
		</div>
			
		<div class="messageContainer">
			<div class="name">Lord Gaben</div>
			<div class="pic"></div>
			<div class="message">
				<div class="text">LOL git gud noobs</div>
				<div class="timestamp">16:57</div>
			</div>
		</div>
	</div>

	<!-- chat input content -->
	<div id="input">
		<input id="message">
		<img id="send" src="resources/images/send_message.png">
	</div>
</div>

<script>
onWindowResize();
</script>
</body>
</html>