<!DOCTYPE html>
<html>
<head>
	<% include resources/utilhtml/head %>
	<link rel="stylesheet" type="text/css" href="/resources/css/index.css">
	<script src="/resources/js/index.js"></script>
</head>
<body>

<% include resources/utilhtml/modal %>

<!-- Top nav bar -->
<div id="navBar">
	<!-- Title header -->
	<div id="header">
		<a href="/" id="title">Strife</a>
	</div>

	<nav id="topNav">
	</nav>
</div>

<!-- Sidebar -->
<div id="sidebar">
	<!-- Rooms & Friends -->
	<div id="rooms"></div>
	<hr>
	<div id="friends"></div>

	<!-- lower sidebar -->
	<div id="bottom">
		<div id="new_room" class="new_server_and_friend" onclick="click_handlerooms()">Handle room</div>
		<div id="new_friend" class="new_server_and_friend" onclick="click_newfriend();">New friend</div>
	</div>
</div>

<!-- Main content -->
<div id="content">

</div>


<script>
onWindowResize();
</script>
</body>
</html>