<!DOCTYPE html>
<html>
<head>
  <% include resources/utilhtml/head %>
  <link rel="stylesheet" type="text/css" href="/resources/css/login.css">  
</head>
<body>
<div id="login">
	<h1>Strife</h1>
  <form method="post"> 
  <input type="text" name="email" placeholder="Email" required autofocus><br>
  <input type="password" name="password" placeholder="Password" required><br>
  <input type="submit" value="Login">
	</form>

  <div id="register_and_about">
    Not a member yet? <a href='/register'>Register here</a><br>
    Learn more <a href='/about'>about Strife</a>
  </div>

</div>

</body>
</html>