<!DOCTYPE html>
<html>
<head>
  <% include resources/utilhtml/head %>
  <script src="/resources/js/register.js" type="text/javascript"></script> 
</head>
<body>
<center>
	

  <div id="register">
    <h1>Strife</h1>
    <form method="post" onsubmit="return checkPsw(this)"> 
      <input type="email" name="email" placeholder="Email" required><br>
      <input type="text" name="fname" placeholder="First name" required><br>
      <input type="text" name="lname" placeholder="Last name" required><br>
      <input type="password" name="password" placeholder="Password" required><br>
      <input type="password" name="confirmpassword" placeholder="Confirm Password" required><br>

      <input type="submit" value="Register">
    </form>
    <br>
    Already a member? <a href='/login'>login here!</a><br>
    Learn more <a href='/about'>about Strife</a>  
  </div>




</center>


</body>
</html>